@tailwind base;

a {
  color: #4ac2ec;
}
a:hover {
  color: #477e93;
}
article > * + * {
  @apply my-4;
}
article footer {
  @apply flex items-center justify-between py-6;
}
article footer a {
  @apply font-semibold text-xl;
}
article header {
  @apply flex flex-col items-center justify-between w-full;
}
article header button {
  @apply self-center w-full;
}
@screen md {
  article header {
    @apply flex-row;
  }
  article header button {
    @apply ml-8 w-auto;
  }
}
button {
  background-color: #4ac2ec;
  @apply font-semibold px-4 py-2 rounded text-gray-800 text-xl transition duration-300 ease-in-out;
}
button:hover {
  background-color: #477e93;
  @apply text-white;
}
h1 {
  @apply font-semibold mb-8 mt-5 text-3xl text-gray-100;
}
h1 span {
  @apply font-normal text-gray-300;
}
h2 {
  @apply mt-10 text-2xl text-gray-300;
}
h3 {
  @apply text-xl text-gray-300;
}
li,
p {
  @apply text-gray-500;
}
li {
  @apply pl-3;
}
li code {
  @apply text-gray-100;
}
strong {
  @apply font-semibold text-gray-100;
}
ol {
  @apply list-decimal pl-8;
}
ul {
  @apply list-disc pl-8;
}

.intro {
  @apply text-xl;
}
.codepen {
  color: #ffdd40;
}
.github {
  color: #0366d6;
}
.gitlab {
  color: #e65328;
}
.sass {
  color: #bf4080;
}
.stylus {
  color: #ff6347;
}
.vue {
  color: #42b983;
}
.webpack {
  color: #1c78c1;
}
.workbox {
  color: #e8710a;
}

@keyframes fadeIn {
  from {
    transform: translate3d(0, 2em, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}

.fade-in-leave-to {
  opacity: 0;
  transition: opacity .3s;
}

.fade-in-enter {
  opacity: 0;
  transform: translate3d(0, 2em, 0);
}

.fade-in-enter-to {
  opacity: 0;
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@tailwind components;
@tailwind utilities;
